.grid {
  display: grid;
  grid-template-columns: 1.2fr 6fr 1.2fr;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.fromBlack {
  --tw-gradient-from: black;
  --tw-gradient-to: transparent;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  height: 100%;
  width: 75%;
  position: absolute;
}

.bgGradientToRight {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bgGradientToTop {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bgGradientToLeft {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}
