.fromBlack {
    --tw-gradient-from: black;
    --tw-gradient-to: transparent;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    height: 100%;
    width: 75%;

}


.bgGradientToTop {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}